# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticketing_db
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=SecretDBPass2026!

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123

# Gemini API
GEMINI_API_KEY=your-secret 
