PORT=3000
NODE_ENV=development

# JWT Authentication
JWT_SECRET=super_secret_key_for_development
JWT_EXPIRES_IN=1d

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticketing_db
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=your-secret-key
DATABASE_URL="postgresql://postgres_admin:SecretDBPass2026!@localhost:5432/ticketing_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ (Giai đoạn 3)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your-secret-key