PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticketing_db
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=your-secret-key

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ (Giai đoạn 3)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your-secret-key